@using DevTalles.Data;
@model Curso

<div class="filter @Model.Categoria.NombreCategoria.Replace(' ','_')">
    <!-- Card-->

    <ul class="list-unstyled mt-5 listado-cursos">
        <li class="curso">
            <div class="card">
                <img class="card-img-top"
                     src="@WC.RutaImagen@Model.ImagenUrl"
                     alt="imagen curso" />

                <div class="card-body">
                    <h4 class="titulo">@Model.NombreProducto</h4>


                    <div class="d-flex flex-column">
                        <p class=" m-0 fw-bold">@Model.Categoria.NombreCategoria</p>
                        <p class="instructor">@Model.SubCategoria.Nombre</p>
                        

                    </div>

                    <p class="precio fw-bold">@Model.Precio USD$ <span class="original fw-normal">200 USD$</span> </p>
                    <a asp-action="Detalle" asp-route-Id="@Model.Id" class="btn btn-dark ">Inscibirme</a>
                </div>
            </div>
        </li>



    </ul>
</div>





